{% extends 'inddrhome.html'%}
{%block body%}

<body>
<!--<p>&nbsp;</p>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="profupd">PROFILE UPDATION </a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="managedisese">MANAGEMENT DISEASE </a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="prescadd">PRESCRIPTION ADD</a></th>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<th height="28" scope="row"><a href="viewpatient">VIEW PATIENT </a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th height="28" scope="row"><a href="viewpresc">VIEW PRESCRIPTION </a></th>-->
    <!--</tr>-->
     <!--<tr>-->
      <!--<th scope="row"><label><a href="/">LOGOUT</a></label></th>-->
    <!--</tr>-->
<!--</table>-->
</form>
<p>&nbsp;</p>
</body>
{%endblock%}