{% extends 'indexhome.html'%}
{%block body%}
<body>
<form id="form1" name="form1" method="post" action="/updatedepartment">
  <table width="200" border="1"class="table table-striped">
    <tr>
      <th scope="row">Department Name </th>
      <td><label>
        <input type="text" name="textfield" value="{{val[1]}}" required pattern="[A-Z a-z]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label>
        <textarea name="textarea" required pattern="[A-Z a-z]{3,25}">{{val[2]}}</textarea>
      </label></td>
    </tr>

    <tr>
       <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="update" class="btn btn-primary"/>
      </label></th>
    </tr>
  </table>
</form>
</body>
{%endblock%}