{% extends 'indexhome.html'%}
{%block body%}

<body>
<!--<form id="form1" name="form1" method="post" action="logout">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="hospital_view">HOSPITAL MANAGEMENT</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="dr_view">DOCTOR VIEW</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="/specs_dep">SPECIALISATION DEPARTMENT AND MANAGEMENT</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="/user_view">VIEW USERS</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewfeedback">VIEW FEEDBACK</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><label><a href="/">LOGOUT</a></label></th></th>-->

    <!--</tr>-->
  </table>
</form>
</body>
{%endblock%}
