{% extends 'indhospitalhome.html'%}
{%block body%}

<body>
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="dr_reg">DOCTOR REGISTRATION-->
	 <!--</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="dr_manage">DOCTOR MANAGEMENT-->
	 <!--</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="H_viewbook">VIEW BOOKING</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="H_viewmedi">VIEW MEDICINE </a></th>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<th scope="row"><label><a href="addphy">ADD PHARMACY </a></label></th>-->
    <!--</tr>-->
   <!--<tr>-->
      <!--<th scope="row"><label><a href="/">LOGOUT</a></label></th>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{%endblock%}

