

{% extends 'index.html'%}
{%block body%}
<body>
<form id="form1" name="form1" method="post" action="/login">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="249" height="105" border="0" align="center">
    <tr>
      <th width="68" height="41" scope="row">Username</th>
      <td width="171"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="password" name="textfield2" required />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <div align="center"></div>
      </label></th>
    </tr>
  </table>
  <p align="center">
    <input type="submit" name="Submit" value="Login" class="btn btn-primary"/>
  </p>
  <p>&nbsp;</p>
</form>
</body>
{%endblock%}
